.button--close {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 1.5rem;
  top: 4rem;
  overflow: hidden;
  text-indent: 16px;
  border: none;
  z-index: 1001;
  background: transparent;
  color: transparent;
  box-sizing: border-box;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    background: $c__light;
  }
  &::after {
    transform: rotate(-45deg);
  }
  &::before {
    transform: rotate(45deg);
  }
}
