<article class="color-swatch">
  <div class="card">
    <div class="example" style="background-color:{{description}}">
      <span class="sr-only">{{name}}</span>
    </div>
    <div class="info">
      <p class="hex">{{name}}</p>
      <p class="description">{{description}}</p>
    </div>
  </div>
</article>
