<div class="kss-markup kss-style">
  <h3>Markup for {{ section.header }} --  {{ markup }} :: {{ dump( template )}}</h3>
  <pre class="hljs"><code class="language-twig">{{ section.markup|hljs('twig')|raw }}</code></pre>
</div>
